<div ng-controller='AdminUsersListController as usersList' layout="row">
    <md-content layout="column" flex>
        <md-card>
            <md-data-table-toolbar class="alternate" ng-show="usersList.selected.length">
                <div>{{usersList.selected.length === usersList.users.length ? 'All' : usersList.selected.length}} {{usersList.selected.length > 1 ? 'users' : 'user'}} selected</div>
                <span flex></span>
                <!--                 <md-select ng-model="" placeholder="Update Status">
                    <md-option value="ENABLED">ENABLED</md-option>
                    <md-option value="DISABLED">DISABLED</md-option>
                </md-select> -->
            </md-data-table-toolbar>
            <md-data-table-container>
                <table md-data-table class="md-primary " md-progress="usersList.userDeferred ">
                    <thead md-order="usersList.listQuery.order " md-trigger="usersList.onOrderChange ">
                        <tr>
                            <th order-by="surname " name="Last Name"></th>
                            <th order-by="givenName " name="First Name"></th>
                            <th order-by="emailAddress " name="Email Address"></th>
                            <th order-by="status " name="Status"></th>
                            <th order-by="securityRoles " name="Roles"></th>
                            <th name="Actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="user in usersList.users | orderBy: usersList.listQuery.order ">
                            <td name="Last Name " ng-bind="user.surname "></td>
                            <td name="First Name " ng-bind="user.givenName "></td>
                            <td name="Email Address " ng-bind="user.username "></td>
                            <td name="Status ">
                                <md-select ng-model="user.status" placeholder="Status" ng-change="usersList.updateStatus(user)">
                                    <md-option value="ENABLED">ENABLED</md-option>
                                    <md-option value="DISABLED">DISABLED</md-option>
                                </md-select>
                            </td>
                            <td name="Email Address " ng-bind="user.securityRoles ? user.securityRoles.sort().join(', ') : ''"></td>
                            <td>
                                <md-menu>
                                    <md-button class="md-icon-button" aria-label="Actions" ng-click="$mdOpenMenu($event)">
                                        <md-icon class="material-icons">more_vert</md-icon>
                                    </md-button>
                                    <md-menu-content width="2">
                                        <md-menu-item>
                                            <md-button class="md-ident" ng-click="usersList.updateGroupDialog($event, user)">
                                                <span md-menu-align-target>Update Group Membership</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-divider></md-divider>
                                        <md-menu-item>
                                            <md-button class="md-ident" ng-click="usersList.resetPassword(user)">
                                                <span md-menu-align-target>Reset Password</span>
                                            </md-button>
                                        </md-menu-item>
                                        <md-menu-item>
                                            <md-button ng-click="usersList.resendVerification(user)">
                                                <span md-menu-align-target>Resend Verification Email</span>
                                            </md-button>
                                        </md-menu-item>
                                    </md-menu-content>
                                </md-menu>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </md-card>
    </md-content>
</div>
