<div id="registration-form" layout="column" layout-fill flex="100">
    <md-content class="md-padding form-content" flex="100">
        <div layout="row" layout-padding layout-wrap layout-fill layout-align="center center">
            <span class="app-logo" ng-click="login.goTo('homepage')"></span>
        </div>
        <div layout="row" layout-padding layout-wrap layout-fill layout-align="center center">
            <md-whiteframe class="md-whiteframe-3dp" layout layout-padding layout-align="center top">
                <form name="registration-form" ng-submit="registration.register(registration.credentials)">
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>First Name</label>
                            <input ng-model="registration.credentials.givenName" ng-required="true"></input>
                        </md-input-container>
                        <md-input-container flex>
                            <label>Last Name</label>
                            <input ng-model="registration.credentials.surname" ng-required="true"></input>
                        </md-input-container>
                    </div>
                    <md-input-container>
                        <label>Username</label>
                        <input name="username" ng-model="registration.credentials.username" ng-required="true" />
                    </md-input-container>
                    <md-input-container>
                        <label>Email Address</label>
                        <input name="username" ng-model="registration.credentials.emailAddress" ng-required="true" type="email" />
                    </md-input-container>
                    <div layout layout-sm="column">
                        <md-input-container flex>
                            <label>Password</label>
                            <input type="password" name="password" ng-model="registration.credentials.password" ng-required="true" />
                        </md-input-container>
                        <md-input-container flex>
                            <label>Confirm Password</label>
                            <input type="password" name="password" ng-model="registration.credentials.confirmPassword" ng-required="true" />
                        </md-input-container>
                    </div>
                    <div layout layout-align="end end">
                        <md-button type="submit" class="md-raised md-primary">Submit</md-button>
                    </div>
                </form>
            </md-whiteframe>
        </div>
        <div layout="row" layout-padding layout-wrap layout-fill layout-align="center center">
            <md-button ng-click="registration.goTo('login')" class="md-flat md-primary">Sign In</md-button>
        </div>
    </md-content>
</div>
