.question-editor {
    background: #eee;
    md-input-container {
        margin: 0;
    }
    .question-text {
        border-bottom: 1px solid #eee;
        &:focus {
            border-color: #3F51B5;
        }
    }
    @media (max-width: $layout-breakpoint-sm - 1) {
        > md-card {
            margin-top: 50px;
        }
    }
    md-radio-group md-radio-button {
        margin: 0;
    }
}

.editor {
    width: 100%;
    md-checkbox {
        margin: 0;
    }
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(placeholder);
    color: #ccc;
    font-size: 0.95em;
}

.question-answer-editor {
    &:hover {
        .answer-field {
            border-bottom: 1px solid #ccc;
        }
        .reorder {
            color: #ccc;
        }
    }
    &:focus {
        .wysiwyg-editor {
            display: block;
        }
    }
    md-radio-button,
    md-radio-button .md-container {
        cursor: default;
    }
    .answer-field {
        width: 100%;
        top: 2px;
        position: relative;
        display: inline-block !important;
        &:focus {
            border-bottom: 2px solid #3F51B5;
        }
        .ta-bind {
            min-height: 0;
        }
    }
    .reorder {
        color: transparent;
        cursor: move;
        display: inline-block !important;
        padding: 0 5px;
        align-self: center;
    }
    .close {
        color: #ccc;
        cursor: pointer;
        padding: 0 5px;
        align-self: center;
        &:hover {
            color: #000;
        }
    }
    md-radio-button {
        display: inline-block !important;
        margin: 0;
        md-list-item {
            min-height: 0 !important;
        }
    }
    md-input-container {
        display: inline-block;
        .ta-editor {
            width: 100%;
        }
    }
    md-list-item {
        min-height: 0 !important;
    }
}

.custom-label-container {
    padding-top: 10px;
    &:hover {
        label {
            color: #3F51B5;
        }
    }
    label {
        font-size: .75em;
        color: rgba(0, 0, 0, .54);
        padding: 0 8px;
    }
    &.wysiwyg {
        margin: 0 10px;
    }
}

.wysiwyg-editor {
    clear: both;
}

.form-actions {
    background: white;
    text-align: right;
}

.extra-form-actions {
    position: relative;
    top: 100px;
    background-color: white;
    @media (max-width: $layout-breakpoint-sm - 1) {
        top: 0;
        left: 0;
        width: 100%;
    }
    .md-button.md-icon-button {
        font-size: 20px;
    }
}
