<div ng-class="{'no-scroll': questionBank.showExpandedQuery}">
    <div class="question-query">
        <form ng-submit="questionBank.search()">
            <md-icon class="material-icons ">search</md-icon>
            <input type="text" placeholder="Search" ng-model="questionBank.query.queryText" />
            <md-icon class="material-icons pointer " ng-if="!questionBank.showExpandedQuery" ng-click="questionBank.expandQuery()">arrow_drop_down</md-icon>
            <md-icon class="material-icons pointer " ng-if="questionBank.showExpandedQuery" ng-click="questionBank.closeQuery()">arrow_drop_up</md-icon>
        </form>
    </div>
    <div id="question-query-overlay" class="question-query-overlay" ng-if="questionBank.showExpandedQuery" ng-click="questionBank.closeQuery()"></div>
    <div class="question-query-expanded" ng-if="questionBank.showExpandedQuery" layout-padding>
        <div layout="row" class="top-padding">
            <md-input-container flex class="no-margin">
                <label>AP Course Subject</label>
                <md-select ng-model="questionBank.query.subject" md-on-open="questionBank.getSubjects();" ng-change="questionBank.addSubjectToQuery()">
                    <md-option ng-repeat="subject in questionBank.subjects" ng-value="{{subject}}">{{subject.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex class="no-margin">
                <label>Difficulty</label>
                <md-select placeholder="Difficulty" ng-model="questionBank.query.difficulty">
                    <md-option ng-value="difficulty" ng-repeat="difficulty in [1, 2, 3, 4, 5]">{{difficulty}}</md-option>
                </md-select>
            </md-input-container>
        </div>
        <!-- TODO -->
        <div class="custom-label-container" ng-if="false">
            <label>Tags</label>
            <md-chips ng-model="questionBank.query.tags" md-autocomplete-snap md-require-match="true">
                <md-autocomplete md-selected-item="questionBank.selectedItem" md-search-text="questionBank.searchText" md-items="item in questionBank.queryTag(questionBank.searchText)" md-item-text="item.name" placeholder="+tag" md-no-cache="true" md-min-length="3">
                    <span md-highlight-text="questionBank.searchText">{{item.name}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>{{$chip.name}}</span>
                </md-chip-template>
            </md-chips>
        </div>
        <div>
            <md-button class="md-primary md-raised" ng-click="questionBank.search();">
                <md-icon class="material-icons">search</md-icon>
                Search
            </md-button>
            <md-button class="md-raised" ng-click="questionBank.clear();">
                Clear
            </md-button>
        </div>
    </div>
    <div layout="column" flex>
        <md-content class="main question-bank-results" layout="column" flex>
            <div>
                <uib-pagination boundary-links="true" total-items="questionBank.count" max-size="5" ng-model="questionBank.query.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-if="questionBank.count > 10" ng-change="questionBank.getResults()"></uib-pagination>
                <div layout="row" layout-align="center start" flex ng-if="questionBank.loadingResults || questionBank.loadingQuestions">
                    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
                </div>
                <div ng-repeat="question in questionBank.results" ng-include="'main/pages/question/question-view.tpl.html'"></div>
                <uib-pagination boundary-links="true" total-items="questionBank.count" max-size="5" ng-model="questionBank.query.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-if="questionBank.count > 10" ng-change="questionBank.getResults()"></uib-pagination>
                <div layout="row" layout-align="center start" flex ng-if="questionBank.results.length === 0" class="no-items">
                    <span>No Results</span>
                </div>
            </div>
        </md-content>
        <div class="bottom-fab ">
            <md-fab-speed-dial md-direction="up" class="md-fling">
                <md-fab-trigger>
                    <md-button aria-label=" menu " class="md-fab md-primary ">
                        <md-tooltip md-direction="left">
                            Menu
                        </md-tooltip>
                        <md-icon class="material-icons ">menu</md-icon>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="Single Question " class="md-fab md-raised md-mini " ng-click="goTo('dashboard.question-create')">
                        <md-tooltip md-direction="left">
                            Add Single Question
                        </md-tooltip>
                        <md-icon class="material-icons ">add</md-icon>
                    </md-button>
                    <md-button aria-label="Upload Multiple " class="md-fab md-raised md-mini " upload="file-questions-dat-input">
                        <md-tooltip md-direction="left">
                            Upload Questions
                        </md-tooltip>
                        <md-icon class="material-icons ">file_upload</md-icon>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>
        </div>
        <input id="file-questions-dat-input" name="file" type="file" class="ng-hide" accept=".dat" upload-custom-file="questionBank.uploadQuestions($fileContent)">
    </div>
</div>
