.md-table-title {
    -webkit-font-smoothing: antialiased;
    -webkit-user-select: none;
    color: rgb(85, 85, 85);
    display: block;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 46px;
    line-height: 46px;
    margin-left: 16px;
    margin-right: 52px;
    padding-top: 10px;
    width: 335px;
}
