<div ng-controller='TeacherAssessmentsListController as assessmentsList'>
    <md-content layout="column" flex="100" style="background: #eee;">
        <span class="md-table-title">Active</span>
        <md-card>
            <md-data-table-toolbar ng-show="assessmentsList.selected.length">
                <div>{{assessmentsList.selected.length === assessmentsList.assessments.length ? 'All' : assessmentsList.selected.length}} {{assessmentsList.selected.length > 1 ? 'assessments' : 'assessment'}} selected</div>
                <span flex></span>
                <div>
                    <md-icon class="material-icons">delete</md-icon>
                </div>
            </md-data-table-toolbar>
            <md-data-table-container>
                <table md-data-table md-row-select="assessmentsList.selected " class="md-primary " md-progress="deferred ">
                    <thead md-order="assessmentsList.listQuery.order " md-trigger="assessmentsList.onOrderChange ">
                        <tr>
                            <th order-by="name " name="Name"></th>
                            <th order-by="openDate " name="Open Date"></th>
                            <th order-by="dueDate" name="Due Date"></th>
                            <th order-by="turnedIn" name="Turned In"></th>
                            <th name="Actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="assessment in assessmentsList.assessments | orderBy: assessmentsList.listQuery.order ">
                            <td name="Name" ng-bind=" assessment.name " ng-click="assessmentsList.enterAssessment(assessment.uid)" class="pointer"></td>
                            <td name="Open Date" ng-bind="assessment.openDate | date : short"></td>
                            <td name="Due Date" ng-bind="assessment.dueDate  | date : short"></td>
                            <td name="Turned In " ng-bind="assessment.turnedIn "></td>
                            <td>
                                <md-icon class="material-icons ">delete</md-icon>
                                <md-icon class="material-icons ">star_border</md-icon>
                                <md-icon class="material-icons ">more_vert</md-icon>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </md-card>
    </md-content>
    <div class="bottom-fab ">
        <md-button class="md-fab md-primary " aria-label="Add New Assessment " ng-click="assessmentsList.goTo('dashboard.teacher-assessment')">
            <md-tooltip md-direction="left ">
                Add New Assessment
            </md-tooltip>
            <md-icon class="material-icons ">add</md-icon>
        </md-button>
    </div>
</div>
