<div style="background: #eee;" flex layout layout-align="center start">
    <md-card layout="column" flex="50">
        <md-card-content>
            <div layout="row">
                <span flex></span>
                <md-button aria-label="Cancel">Cancel</md-button>
                <md-button aria-label="Save" class="md-primary">Save</md-button>
            </div>
            <hr/>
            <div layout="row" layout-wrap layout-gt-sm>
                <md-input-container>
                    <input ng-model="createAssessment.newAssessment.title">
                </md-input-container>
                <md-datepicker ng-model="myDate" md-placeholder="Open Date"></md-datepicker>
                <md-datepicker ng-model="myDate" md-placeholder="Close Date"></md-datepicker>
            </div>
            <div layout="row" layout-wrap layout-gt-sm>
                <md-input-container flex>
                    <label>Description or Instructions</label>
                    <textarea ng-model="createAssessment.newAssessment.description" columns="1" md-maxlength="250"></textarea>
                </md-input-container>
            </div>
        </md-card-content>
    </md-card>
</div>
