.app-logo {
    background-image: url($svg-logo);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 50px;
    width: 250px;
    display: block;
    &.white {
        background-image: url($svg-logo-white);
    }
}

.bottom-fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
    &.homepage {
        bottom: 40px;
    }
}

.side-info {
    background-color: white;
}

.feedback {
    background-color: white;
    padding: 8px;
    position: fixed;
    bottom: 0;
    left: 50%;
    border: 2px solid black;
    border-bottom-width: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    &:hover {
        background-color: #A2B0FF;
    }
    a {
        font-size: 12px;
        font-color: blue;
        font-weight: bold;
        text-decoration: none;
    }
}

.no-items {
    span {
        margin: 0 auto;
        margin-top: 20px;
        color: #aaa;
        font-weight: bold;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        text-align: center;
    }
}

.no-margin,
.no-margin-child > * {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.no-scroll {
    overflow: hidden;
}

p.md-warn {
    color: red;
}

.pointer {
    cursor: pointer;
    &:hover {
        color: black;
    }
}

md-tab-content {
    background-color: #eee;
    md-content {
        background-color: #eee;
    }
}

md-content.main,
md-content .main {
    background-color: #eee;
}

md-tabs-canvas {
    background-color: white;
}

td {
    padding: 0 0 0 10px !important;
    &.icon {
        width: 24px;
    }
}

.md-fab-action-item {
    .md-fab md-icon {
        color: rgba(0, 0, 0, 0.54);
    }
}

.ta-root {
    .md-button[disabled] {
        display: none;
        margin: 0;
    }
    .md-button {
        margin: 3px 6px;
        min-width: 0;
    }
    .md-primary {
        background: lightgray;
    }
    .ta-toolbar > div {
        display: flex;
        flex-wrap: wrap;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
        background: #eee;
    }
    .ta-scroll-window > .ta-bind {
        min-height: 20px;
        word-break: break-all;
    }
}

table[md-data-table] > tbody > tr:first-child > td {
    border-top: 0;
}

.pagination {
    list-style-type: none;
    padding: 0;
    margin: 8px;
    text-align: center;
    li {
        @extend .md-fab,
        .md-raised,
        .md-mini,
        .md-button,
        .md-ink-ripple;
        z-index: 0;
        height: 30px;
        line-height: 30px;
        width: 30px;
        min-height: 0;
        margin: 3px;
        background-color: white;
        padding: 0;
        &.pagination-first,
        &.pagination-prev,
        &.pagination-next,
        &.pagination-last {
            height: 24px;
            line-height: 24px;
            width: 24px;
        }
        &.active {
            background: rgb(63, 81, 181);
            a {
                color: white;
            }
        }
    }
    a {
        display: block;
        text-decoration: none;
    }
}

//TODO Move this
md-card.assessment {
    md-card-header {
        background: lightblue;
        box-shadow: 0 0 2px rgba(0, 0, 0, .2);
    }
}
