<div ng-controller='AdminTagsListController as tagsList' layout="row">
    <md-content layout="column" flex>
        <md-card>
            <md-data-table-container>
                <table md-data-table class="md-primary " md-progress="tagsList.tagDeferred ">
                    <thead md-order="tagsList.listQuery.order " md-trigger="tagsList.onOrderChange ">
                        <tr>
                            <th order-by="name " name="Name"></th>
                            <th order-by="subject " name="Subject"></th>
                            <th order-by="enabled " name="Enabled"></th>
                            <th name="Actions"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tag in tagsList.tags | orderBy: tagsList.listQuery.order ">
                            <td name="Name " ng-bind="tag.name ">
                                <span ng-if="!tagsList.edit[tag.uid]" ng-bind="tag.name"></span>
                            </td>
                            <td name="Subject " ng-bind="tag.subject.name "></td>
                            <td name="Enabled">
                                <md-icon class="material-icons" ng-if="tag.enabled">check</md-icon>
                            </td>
                            <td>
                                <md-button ng-click="tagsList.edit[tag.uid] = true;">
                                    <md-icon class="material-icons">edit</md-icon>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-data-table-container>
        </md-card>
    </md-content>
    <div class="bottom-fab">
        <md-button class="md-fab md-primary" aria-label="Add Course" ng-click="tagsList.openAddNewTagDialog($event)">
            <md-tooltip md-direction="left">
                Add New Subject
            </md-tooltip>
            <md-icon class="material-icons">add</md-icon>
        </md-button>
    </div>
</div>
