<md-dialog aria-label="'{{!addEditCourse.currentCourse.uid ? 'Add New' : 'Edit'}}' + ' Course'" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 ng-bind="'{{!addEditCourse.currentCourse.uid ? 'Add New' : 'Edit'}}' + ' Course'"></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="addEditCourse.cancel()">
                    <md-icon class="material-icon" aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout="column">
                    <md-input-container>
                        <label>Course Name</label>
                        <input ng-model="addEditCourse.currentCourse.name">
                    </md-input-container>
                    <md-input-container>
                        <label>Section</label>
                        <input ng-model="addEditCourse.currentCourse.section">
                    </md-input-container>
                    <md-input-container>
                        <label>Subject</label>
                        <md-select ng-model="addEditCourse.currentCourse.subject" ng-model-options="{trackBy: '$value.uid'}">
                            <md-option ng-repeat="subject in addEditCourse.subjects" ng-value="subject" ng-bind="subject.name"></md-option>
                        </md-select>
                    </md-input-container>
                </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <span flex></span>
            <md-button ng-click="addEditCourse.cancel()">
                Cancel
            </md-button>
            <md-button ng-click="addEditCourse.save(currentCourse)">
                Save
            </md-button>
        </div>
    </form>
</md-dialog>
