<div layout="row">
    <div hide-sm layout="row" layout-fill class="courses">
        <div ng-repeat="course in teacherCoursesDashboard.courses track by $index | orderBy:['year', 'period', 'subject']" flex="33">
            <md-card>
                <md-card-content>
                    <h2 class="md-title">
                        <span ng-bind="course.subject"></span> (<span ng-bind="course.year"></span>)
                    </h2>
                    <h2 class="md-subhead">
                        Period <span ng-bind="course.period"></span> - <span ng-bind="course.uid"></span>
                    </h2>
                    <p>
                        <ul>
                            <li>
                                <strong>Upcoming Assignments: </strong><span>Demo</span>
                            </li>
                            <li>
                                <strong>Open Assignments: </strong><span>Demo</span>
                            </li>
                        </ul>
                        <span>Determine Information</span>
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button ng-click="teacherCoursesDashboard.goToCourse(course.uid);">Enter Course</md-button>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                            <md-icon class="material-icons">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="6">
                            <md-menu-item>
                                <md-button class="md-ident">
                                    <md-icon class="material-icons">edit</md-icon>
                                    <span md-menu-align-target>Edit</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <md-icon class="material-icons">delete</md-icon>
                                    <span md-menu-align-target>Delete</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-card>
        </div>
    </div>
    <div hide show-sm layout="column" flex="100" class="courses-list">
        <md-list>
            <md-list-item ng-repeat="course in teacherCoursesDashboard.courses | orderBy:['year','period', 'subject']" ng-click="teacherCoursesDashboard.goToCourse(course.uid);">
                <p>
                    P<span ng-bind="course.period"></span> - <span ng-bind="course.subject"></span> (<span ng-bind="course.year"></span>)
                </p>
            </md-list-item>
        </md-list>
    </div>
    <div class="bottom-fab">
        <md-button class="md-fab md-primary" aria-label="Add Course" ng-click="teacherCoursesDashboard.openAddNewCourseDialog($event)">
            <md-tooltip md-direction="left">
                Add New Course
            </md-tooltip>
            <md-icon class="material-icons">add</md-icon>
        </md-button>
    </div>
</div>
