.courses {
    background: #eee;
    flex: 1;
}

.courses-list {
    md-list-item {
        border-bottom: 1px solid #eee;
    }
}

.bottom-fab {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
