<div layout="row">
    <div hide-sm layout="row" flex="100">
        <div ng-repeat="course in teacherCoursesDashboard.courses" flex="33">
            <md-card>
                <md-card-content>
                    <h2 class="md-title">
                        <span ng-bind="course.period"></span>: <span ng-bind="course.title"></span>
                    </h2>
                    <p>
                        <ul>
                            <li>
                                <strong>Upcoming Assignments: </strong><span ng-bind="course.period"></span>
                            </li>
                            <li>
                                <strong>Open Assignments: </strong><span ng-bind="course.period"></span>
                            </li>
                        </ul>
                    </p>
                </md-card-content>
                <div class="md-actions" layout="row" layout-align="end center">
                    <md-button ng-click="teacherCoursesDashboard.goToCourse(course.uid);">Enter Course</md-button>
                    <md-menu>
                        <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                            <md-icon class="material-icons">more_vert</md-icon>
                        </md-button>
                        <md-menu-content width="6">
                            <md-menu-item>
                                <md-button class="md-ident">
                                    <md-icon class="material-icons">edit</md-icon>
                                    <span md-menu-align-target>Edit</span>
                                </md-button>
                            </md-menu-item>
                            <md-menu-item>
                                <md-button>
                                    <md-icon class="material-icons">delete</md-icon>
                                    <span md-menu-align-target>Delete</span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </md-card>
        </div>
    </div>
    <div hide show-sm layout="column" flex="100">
        <md-list>
            <md-list-item ng-repeat="course in teacherCoursesDashboard.courses" ng-click="teacherCoursesDashboard.goToCourse(course.uid);">
                <p> {{ course.title }} </p>
            </md-list-item>
        </md-list>
    </div>
</div>
