<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>SmarterAP</title>
    <!-- Compiled CSS -->
    <% cssFiles.forEach(function(file) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" />
        <% }); %>
            <!-- Compiled JS -->
            <% jsFiles.forEach(function(file) { %>
                <script rel="text/javascript" src="<%= file %>"></script>
                <% }); %>
                    <script>
                    angular.element(document).ready(function() {
                        angular.bootstrap(document, ['smarterap']);
                    });
                    </script>
</head>

<body ng-controller="AppCtrl" layout="column">
    <div ui-view layout="column" flex></div>
</body>

</html>
