<md-tabs flex md-selected="selectedIndex" md-border-bottom md-autoselect md-center-tabs="true" class="course-tabs">
    <md-tab ng-repeat="tab in teacherCourseDashboard.tabs track by tab.title" ng-disabled="tab.disabled" label="{{tab.title}}">
        <div ng-include="tab.template"></div>
    </md-tab>
</md-tabs>
<div class="bottom-fab ">
    <md-button class="md-fab md-primary " aria-label="Add New Assessment " ng-click="teacherCourseDashboard.goTo('dashboard.teacher-assessment')">
        <md-tooltip md-direction="left ">
            Add New Assessment
        </md-tooltip>
        <md-icon class="material-icons ">add</md-icon>
    </md-button>
</div>
